<!--
Ibnul Jahan and Jawadul Kadir
SoftDev2 pd7
K06 -- Ay Mon, Go Git It From Yer Flask
2018-2-26
-->

<!DOCTYPE html>
<html>
	<center>
		<h1> MAKE IT RAIN </h1>
		<p style="width:600px">
			Search for gifs of people throwing money for all your gifs of people
			throwing money needs. You have the choice of searching by file type
			(which isn't much choice to be honest), web source of the gif in the
			format www.[WEBSITE].com, and the title of the gif. Note that you
			have to be very specific with the title, so try using "make it rain money GIF".
		</p>
		<form action="/result">
			<input type="radio" name="search" value="file"> Search by file type </input>
			<input type="radio" name="search" value="source"> Search by source </input>
			<input type="radio" name="search" value="title"> Search by title </input>
			<br>
			<br>
			<input type="text" name="query"> </input>
			<input type="submit"></input>
		</form>
	</center>
</html>